@model IEnumerable<SelfPay.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Produto</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto_nome)
            </th>                                   
            <th>                                   
                @Html.DisplayNameFor(model => model.Produto_desc)
            </th>                                   
            <th>                                    
                @Html.DisplayNameFor(model => model.Produto_ativo)
            </th>                                   
            <th>                                    
                @Html.DisplayNameFor(model => model.Produto_preco)
            </th>                                   
            <th>                                    
                @Html.DisplayNameFor(model => model.Produto_precoPromo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto_nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto_ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto_preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto_precoPromo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Produto_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Produto_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Produto_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
